.App {
  text-align: center;
}

.App-header {
  background-color: white;
  display: flex;
  align-items: center;
  color: white;
}

@keyframes stopMotion{
  /* FIX ANIMATION SPEED & TRANSITION */

  /* Adjusted for 3 frames */
  /* 0%, 100% { opacity: 0; }
  1% { opacity: 1; }
  33% { opacity: 1; }
  34% { opacity: 0; } */

  /* Adjusted for 6 frames */
  /* 0%, 100% { opacity: 1; }
  1% { opacity: 1; }
  16.66% { opacity: 1; } 
  17.66%, 100% { opacity: 0; } */

  /* Adjusted for 14 frames */
  /* 0%, 100% { opacity: 0; }
  1%, 7.14% { opacity: 0; }
  7.15%, 14.28% { opacity: 0; }
  14.29%, 21.43% { opacity: 0; }
  21.44%, 28.58% { opacity: 0; }
  28.59%, 35.73% { opacity: 0; }
  42.87%, 50.01% { opacity: 0; }
  50.02%, 57.16% { opacity: 0; }
  57.17%, 64.31% { opacity: 0; }
  64.32%, 71.46% { opacity: 0; }
  71.47%, 78.61% { opacity: 0; }
  78.62%, 85.76% { opacity: 0; }
  85.77%, 92.91% { opacity: 0; }
  92.92%, 100% { opacity: 0; } */


  /* Adjusted for 25 frames */
  0%, 100% {opacity: 0;}
  1%, 4% {opacity: 0;}
  4.01%, 8% {opacity: 1;}
  8.01%, 12% {opacity: 0;}
  12.01%, 16% {opacity: 0;}
  16.01%, 20% {opacity: 0;}
  20.01%, 24% {opacity: 0;}
  24.01%, 28% {opacity: 0;}
  28.01%, 32% {opacity: 0;}
  32.01%, 36% {opacity: 0;}
  36.01%, 40% {opacity: 0;}
  40.01%, 44% {opacity: 0;}
  44.01%, 48% {opacity: 0;}
  48.01%, 52% {opacity: 0;}
  52.01%, 56% {opacity: 0;}
  56.01%, 60% {opacity: 0;}
  60.01%, 64% {opacity: 0;}
  64.01%, 68% {opacity: 0;}
  68.01%, 72% {opacity: 0;}
  72.01%, 76% {opacity: 0;}
  76.01%, 80% {opacity: 0;}
  80.01%, 84% {opacity: 0;}
  84.01%, 88% {opacity: 0;}
  88.01%, 92% {opacity: 0;}
  92.01%, 96% {opacity: 0;}
  96.01%, 100% {opacity: 0;}
}

.frame-container{
  /* position: absolute; */
  /* width: 200px;
  height: 200px; */
  top: 10px;
  right: 10px;
  /* overflow: hidden; */
}
.frame{
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0;
  /* ADJUST AS NEEDED */
  animation: stopMotion 25s infinite;
}

.frame1{
  background-image: url('./1.png');
  background-position: right;
}
.frame2{
  background-image: url('./2.png'); 
  animation-delay: 1s;
  background-position: right;
}
.frame3{
  background-image: url('./3.png'); 
  animation-delay: 1.5s;
  background-position: right;
}
.frame4{
  background-image: url('./4.png'); 
  animation-delay: 2s;
  background-position: right;
}
.frame5{
  background-image: url('./5.png'); 
  animation-delay: 2.5s;
  background-position: right;
}
.frame6{
  background-image: url('./6.png'); 
  animation-delay: 3s;
  background-position: right;
}
.frame7{
  background-image: url('./7.png'); 
  animation-delay: 6s;
  background-position: center;
}
.frame8{
  background-image: url('./8.png'); 
  animation-delay: 7s;
  background-position: center;
}
.frame9{
  background-image: url('./9.png'); 
  animation-delay: 8s;
  background-position: center;
}
.frame10{
  background-image: url('./10.png'); 
  animation-delay: 8.1s;
  background-position: center;
}
.frame11{
  background-image: url('./11.png'); 
  animation-delay: 8.2s;
  background-position: center;
}
.frame12{
  background-image: url('./12.png'); 
  animation-delay: 8.3s;
  background-position: center;
}
.frame13{
  background-image: url('./13.png'); 
  animation-delay: 8.4s;
  background-position: center;
}
.frame14{
  background-image: url('./14.png'); 
  animation-delay: 8.5s;
  background-position: center;
}
.frame15{
  background-image: url('./15.png'); 
  animation-delay: 8.6s;
  background-position: center;
}
.frame16{
  background-image: url('./16.png'); 
  animation-delay: 8.7s;
  background-position: center;
}
.frame17{
  background-image: url('./17.png'); 
  animation-delay: 8.8s;
  background-position: center;
}
.frame18{
  background-image: url('./18.png'); 
  animation-delay: 8.9s;
  background-position: center;
}
.frame01{
  background-image: url('./01.png'); 
  animation-delay: 10s;
  background-position: left;
}
.frame02{
  background-image: url('./02.png'); 
  animation-delay: 11s;
  background-position: left;
}
.frame03{
  background-image: url('./03.png'); 
  animation-delay: 12s;
  background-position: left;
}
.frame04{
  background-image: url('./04.png'); 
  animation-delay: 13s;
  background-position: left;
}
.frame05{
  background-image: url('./05.png'); 
  animation-delay: 14s;
  background-position: left;
}
.frame06{
  background-image: url('./06.png'); 
  animation-delay: 15s;
  background-position: left;
}
.frame07{
  background-image: url('./07.png'); 
  animation-delay: 16s;
  background-position: left;
}
.frame08{
  background-image: url('./08.png'); 
  animation-delay: 17s;
  background-position: left;
}
.frame19{
  background-image: url('./19.png'); 
  animation-delay: 18s;
  background-position: left
}
.frame20{
  background-image: url('./20.png'); 
  animation-delay: 19s;
  background-position: left;
}
.frame21{
  background-image: url('./21.png'); 
  animation-delay: 20s;
  background-position: left;
}
.frame22{
  background-image: url('./22.png'); 
  animation-delay: 21s;
  background-position: left;
}